/* textos */
.h1-head{
    color: var(--negro);
    font-size: 1vw;
    font-weight: 600;
    width: 100%;
    margin-bottom: 1vw;
}
.h2-head{
    color: var(--negro);
    font-size: 2vw;
    font-weight: 600;
    width: 100%;
    margin-bottom: 0.5vw;
}
.h3-head{
    color: var(--gris);
    font-size: 1vw;
    font-weight: 600;
    width: 100%;
}


/* categorias */

.img-cat{
    width:6vw;
    height:6vw;
    border-radius: 25%;
    overflow: hidden;
}
.img-cat img{
    height:100%;
}
.tit-cat{
    color: var(--negro);
    font-size: 1vw;
    font-weight: 600;
    margin:1vw 0 0 0;
    
}



/* platos */
.img-plato{
    width:8vw;
    height:8vw;
    border-radius: 25%;
    overflow: hidden;
}
.img-plato img{
    height: 100%;
}

.precio-plato{
    color: var(--naranja);
    font-size: 1.5vw;
    font-weight: 600;
}
.nombre-plato{
    color: var(--negro);
    font-size: 1.3vw;
    font-weight: 600;
}
.extras-plato{
    color: var(--gris);
    font-size: 1vw;
    font-weight: 400;
}

.btn-plato-mas{
    width: 1.5vw;
    height: 1.5vw;
    background-color:white;
    border-radius: 25% 0 0 25%;
}
.btn-plato-mas img{
    width: 1vw;
}

.btn-plato-menos{
    width: 1.5vw;
    height: 1.5vw;
    background-color:white;
    border-radius: 0 25% 25%  0;
}
.btn-plato-menos img{
    width: 1vw;
}

input[type='text'].numero-platos{
    font-family: "Rubik";
    font-weight: 400;
    color:var(--negro);
    background-color: var(--gris);
    text-align: center;

}
.numero-platos{
    width: 2vw;
    height: 1.5vw;
    font-size: 1vw;

}

/* modal */
.btn-mod-cerrar{
    width: 4.5vw;
    height:4.5vw;
    border-radius: 25%;
    background-color: var(--naranja);
}
.btn-mod-cerrar img{
    width: 2.5vw;
}
.desc-modal{
    color: var(--negro);
    font-size: 1vw;
    font-weight: 400;
}


/* pedido */
.btn-atras{
    width: 2vw;
    height: 2vw;
    background-color: var(--gris);
    border-radius: 25%;
}
.btn-atras img{
    width: 1vw;
}

.tit-pedido{
    color: var(--negro);
    font-size: 1.5vw;
    font-weight: 600;
}

.desc-factura{
    color: white;
    font-size: 1vw;
    font-weight: 300;
}
.total-factura{
    color: white;
    font-size: 1.3vw;
    font-weight: 600;
}

.desc-factura-precio{
    color: white;
    font-size: 1vw;
    font-weight: 300;
}
.total-factura-precio{
    color: white;
    font-size: 1.3vw;
    font-weight: 600;
}

.nombre-pedido{
    width: 100%;
    padding:1vw;
    border-radius: 1vw;
    background-color: var(--grisclaro);
    justify-self: center;
}
.nombre-pedido::placeholder{
    width: 100%;
    padding:1vw;
    border-radius: 1vw;
    color: var(--gris);
    justify-self: center;
}

.btn-pedido-enviar{
    width: 100%;
    padding:1vw;
    border-radius: 1vw;
    background-color: white;
    justify-self: center;
}
.btn-pedido-enviar p{
    color: var(--negro);
    font-size: 1.5vw;
}



/* footer */
.btn-nav-foot {
    display: inline;
}
.btn-nav-foot img {
    width: 2vw;
}
.btn-nav-foot-pedido{
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    background-color: var(--naranja);
    box-shadow: var(--sombra);
}
.btn-nav-foot-pedido img{
    width: 2vw;
}