/* categorias */
.cat{
    max-width:8vw;
    background-color: white;
    text-align: center;
    border-radius: 1vw;
    padding:1vw;
    box-shadow: var(--sombra);
}

/* platos */
.plato{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius:2vw;
    box-shadow: var(--sombra);
    margin:1vw 0 1vw 0;
}
.plato .cuerpo-plato{
    align-self:center;
    padding: 0.5vw 1vw 0.5vw 1vw;
}
.num-platos{
    display: flex;
    align-content: center;
}

/* nav */
nav{
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 100%);
}
.navegacion{
    margin-top: 1vw;
    display:flex;
    justify-content:space-between;
    align-content: center;
    width: 30%;
}
.navegacion .btn-nav-foot-pedido{
    position:relative;
    top:-70%;
}