/* header */
header{
    padding: 4vw;
}
header .btn-atras{
    margin: 8vw 0 4vw 0;
}
header .tit-pedido{

}

main{
    margin-bottom: 20%;
}



/* categorias */
.categories{
    overflow: scroll;
    white-space: nowrap;
    padding: 0;
}
::-webkit-scrollbar{
    height:10px;
    width:0px;
}
::-webkit-scrollbar-track {
    background: var(--grisclaro);
}
::-webkit-scrollbar-thumb {
    background:var(--gris);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--naranja);
}

.categories ul{
    display: flex;
}
.categories ul .cat{
    margin: 4vw;
}
/* platos */
.platos{
    display: flex;
    justify-content: center;
}
.platos ul{
    width: 98%;
}
/* carrito */
.carrito-compra{
    border-radius: 50px 50px 0 0;
    background-color: var(--naranja);
}
.carrito-compra .btn-pedido-enviar{
    margin: 4vw;
}
.nombrar-pedido{
    width: 100%;
    background-color: #fff;
    border-radius: 50px;
    padding: 4vw;
}
.detalle-pedido{
    display: flex;
    flex-wrap: wrap;
    margin: 4vw;

}
.detalle-pedido article{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.detalle-pedido article p{
    display: inline;
}


/* footer */
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%
}